.user-list-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.user-table caption {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.user-table thead {
  background-color: #f2f2f2;
}

.user-table th,
.user-table td {
  padding: 12px;
  text-align: center;
}

.user-table th {
  text-transform: uppercase;
}

.user-table tbody tr {
  border-bottom: 1px solid #ddd;
}

.user-table tbody tr:last-child {
  border-bottom: none;
}

.user-table tbody tr:nth-child(even) {
  background-color: #f8f8f8;
}

.user-table tbody td {
  text-align: center;
}

.user-table .actions-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-table .edit-button {
  background-color: green;
  color: #fff;
}

.user-table .delete-button {
  background-color: red;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .user-table {
    overflow-x: auto;
  }

  .user-table th,
  .user-table td {
    white-space: nowrap;
  }

  .user-table thead,
  .user-table tbody,
  .user-table th,
  .user-table td,
  .user-table tr {
    display: block;
  }

  .user-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .user-table tr {
    border: 1px solid #ccc;
  }

  .user-table td {
    border: none;
    border-bottom: 1px solid #ddd;
    position: relative;
    padding-left: 50%;
  }

  .user-table td::before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }

  .user-table tbody td::before {
    content: attr(data-label);
  }

  .user-table .actions-cell {
    flex-direction: column;
    align-items: flex-start;
  }
}
